* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: #0F0F0F;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    color: #f1f1f1;
    font-family: "CircularSp", system-ui;
    overflow: hidden;
}

/* CSS for sidebar section of Webpage */

.sidebar {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideCont {
    width: 90%;
    height: 95%;
    border-radius: 20px;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pageSection {
    width: 95%;
    height: 45%;
}

.pageSection ul li {
    list-style: none;
    margin: 30px;
}

.pageSection ul li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    color: white;
    text-decoration: none;
}

.pageSection img {
    width: 25px;
    height: 25px;
}

.close {
    display: none;
}

hr {
    width: 90%;
    color: rgba(171, 171, 171, 0.179);
}

.socials {
    width: 95%;
    height: 45%;
}

.socials h2 {
    margin: 10px;
}

.socialCard div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
}

.socialCard {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    gap: 10px;
}

/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 30%;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}

/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}

/* twitter*/
.containerTwo:hover {
    background-color: #000000;
    transition-duration: .3s;
}

/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}

/* Whatsapp*/
.containerFour:hover {
    background-color: #1b1c30;
    transition-duration: .3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

.listDiv {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    background-color: rgb(44, 44, 44);
    overflow: hidden;
    transition-duration: .3s;
}

.listDiv:hover {
    background-color: #000000;
    transition-duration: .3s;
}

.listDiv:hover img {
    animation: slide-in-top 0.3s both;
}

/* CSS for the main section of Webpage ->  */

.main {
    width: 80%;
    height: 95%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #171717;
    border-radius: 20px;
    position: relative;
    scroll-behavior: smooth;
}

.contact {
    width: 100%;
    height: auto;
    margin: 0px;
    display: flex;
    justify-content: flex-end;
}

.hamburger{
    display: none;
}

button {
    margin: 20px;
    padding: 15px 25px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.5s ease;
}

button:hover {
    letter-spacing: 1px;
    background-color: #D8315B;
    color: hsl(0, 0%, 100%);
    box-shadow: #D8315B 0px 7px 29px 0px;
}

button:active {
    letter-spacing: 1px;
    background-color: #D8315B;
    color: hsl(0, 0%, 100%);
    box-shadow: #D8315B 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.content {
    width: 95%;
    height: 80%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.content h1 {
    text-align: center;
    font-size: 60px;
    color: #D8315B;
    padding: 20px;
    padding-bottom: 0px;
}

.content p {
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
    padding-top: 10px;
}

.projects {
    height: 80%;
    width: 95%;
    margin: 20px;
}

.projects h1 {
    padding: 20px;
    font-size: 35px;
    color: #D8315B;
}

.skills {
    width: 95%;
    height: 80%;
    margin: 20px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 90%;
}

.cardName {
    font-weight: 700;
    font-size: 16px;
}

.cardInfo {
    font-weight: 400;
    font-size: 14px;
}

.image {
    width: 90%;
    height: 65%;
    margin: 5px;
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card {
    padding: 10px;
    margin: 20px;
    margin-left: 30px;
    position: relative;
    min-width: 190px;
    height: 254px;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-20px);
}

.card::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #242424, #d8315b);
    border-radius: 1.2em;
}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #262626, #d8315b);
    filter: blur(10px);
}

.card span {
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background-color: rgba(0, 0, 0, 0.711);
    z-index: 2;
    border-radius: 1em;
}

.card span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
}

.card .contents {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 800;
    font-size: 1.5em;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.first {
    width: 100%;
    height: 100%;
}

.skills h1 {
    padding: 20px;
    font-size: 35px;
    color: #D8315B;
}

.cardSkills {
    width: 190px;
    height: 254px;
    margin: 20px;
    margin-left: 30px;
    background-color: #fbfdff;
    border-radius: 8px;
    color: #000000;
}

.cardSkills h4 {
    left: 20px;
    position: relative;
}

.cardSkills p {
    left: 30px;
    position: relative;
    margin: 10px 5px;
    width: 40%;
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #e7e7e7;
}

.tools {
    display: flex;
    align-items: center;
    padding: 9px;
}

.circle {
    padding: 0 4px;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}

.hide {
    opacity: 0;
    transition: all 0.5s;
    transform: translateX(-50%);
}

.show {
    opacity: 1;
    transition: all 0.5s;
    transform: translateX(0);
}

#popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.30);
    background-color: #fff;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

/* For Responsive Website */
@media (max-width: 1400px) {
    .sidebar{
        position: absolute;
        left: -100%;
        transition: all 0.3s;
        z-index: 1;
        width: 400px;
        height: 100vh;
        background: black;
        z-index: 20;
    }

    .close{
        display: inline;
        position: absolute;
        top: 40px;
        right: 40px;
    }

    .socials {
        overflow-y: scroll;
    }

    .main {
        width: 100%;
        margin: 20px;
    }

    .contact{
        justify-content: space-between;
    }

    .hamburger{
        display: inline;
        margin: 20px;
    }
}

/* CSS for scrollbar ->  */
/* Width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #22222200;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 6px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #666;
}
